.menu_image{
  width: 100%;
}
.header_menu {
  font-size: 35px;
  //font-style: italic;
  margin-bottom: 40px;
  text-shadow: 1px 2px 3px #546e7a ;
  text-transform: uppercase;
  font-weight: bold;
  color: #3e2723;
}
.user-view {
  margin-bottom: 40px;
}
#slide-out {

  text-align: center;
  transform: translateX(0%) !important;
  position: relative !important;
  margin-right: 10px;
  float: left;
  padding-top: 60px;

}
.side-nav li>a:after {
  display: block;
  content: "";
  width: 50px;
  border-bottom: 3px dashed #6d4c41;
  margin: 0 auto;
}
.side-nav li>a {
  font-size: 18px;
  text-transform: uppercase;
  height: 65px;
}
